## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
new_application_df = application_df.drop(columns=["EIN"])
new_application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
new_application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
new_application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [5]:
new_application_df['USE_CASE'].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [6]:
new_application_df['ORGANIZATION'].value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [7]:
new_application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [8]:
new_application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [9]:
new_application_df = new_application_df.drop(columns = ['SPECIAL_CONSIDERATIONS', 'STATUS'])
new_application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [10]:
name_count = new_application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [12]:

name_count[name_count > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(name_count[name_count<5].index)

# Replace in dataframe
for app in application_types_to_replace:
    new_application_df['NAME'] = new_application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
new_application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts for binning
classification_counts = new_application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
new_application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
new_application_dummies = pd.get_dummies(new_application_df)
new_application_dummies.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [19]:
# Split our preprocessed data into our features and target arrays
X = new_application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = new_application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

# X shape/ input feature/columns is 43 * 2/3 is 86-129 so chose 80 for the first hidden node
hidden_node1 = 80
hidden_node2 = 30
# Add a third hidden layer
hidden_node3 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node1, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node3, activation='relu'))


# Output layer (output is 1 and sigmoid because it's binary classifier)
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                41360

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 30)                930

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 44,751
Trainable params: 44,751
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
# Train the model
fit_moel = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.4708 - accuracy: 0.7785
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7971
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7987
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.8004
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.8014
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7998
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.8010
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.8020
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8024
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8019
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8041
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4115 - accuracy: 0.8025
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8046
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8044
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8041
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4090 - accuracy: 0.8054
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4086 - accuracy: 0.8050
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4077 - accuracy: 0.8055
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4071 - accuracy: 0.8067
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8067
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4058 - accuracy: 0.8060
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4060 - accuracy: 0.8060
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8063
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8064
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8077
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8077
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8084
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8089
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8086
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8084
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4022 - accuracy: 0.8090
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8090
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8090
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4010 - accuracy: 0.8083
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4002 - accuracy: 0.8094
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8089
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8089
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8092
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3996 - accuracy: 0.8093
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3995 - accuracy: 0.8097
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3992 - accuracy: 0.8088
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3985 - accuracy: 0.8096
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3988 - accuracy: 0.8089
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8099
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3980 - accuracy: 0.8100
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3980 - accuracy: 0.8102
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3979 - accuracy: 0.8097
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3976 - accuracy: 0.8105
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3976 - accuracy: 0.8099
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3972 - accuracy: 0.8108
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3971 - accuracy: 0.8100
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3970 - accuracy: 0.8105
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3965 - accuracy: 0.8101
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3969 - accuracy: 0.8108
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3960 - accuracy: 0.8107
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3970 - accuracy: 0.8099
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3957 - accuracy: 0.8110
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3959 - accuracy: 0.8099
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3957 - accuracy: 0.8113
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3949 - accuracy: 0.8105
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3955 - accuracy: 0.8105
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3954 - accuracy: 0.8106
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8106
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3958 - accuracy: 0.8111
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3946 - accuracy: 0.8106
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3946 - accuracy: 0.8108
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3946 - accuracy: 0.8115
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3944 - accuracy: 0.8114
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3941 - accuracy: 0.8111
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3955 - accuracy: 0.8115
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3946 - accuracy: 0.8114
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8115
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3941 - accuracy: 0.8111
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3945 - accuracy: 0.8115
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3933 - accuracy: 0.8122
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3940 - accuracy: 0.8118
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3935 - accuracy: 0.8113
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3938 - accuracy: 0.8119
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3932 - accuracy: 0.8117
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3932 - accuracy: 0.8120
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3939 - accuracy: 0.8117
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3929 - accuracy: 0.8116
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3927 - accuracy: 0.8116
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3935 - accuracy: 0.8117
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3935 - accuracy: 0.8117
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8118
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3927 - accuracy: 0.8123
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3923 - accuracy: 0.8120
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3921 - accuracy: 0.8126
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3927 - accuracy: 0.8122
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8121
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3920 - accuracy: 0.8122
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3918 - accuracy: 0.8127
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3922 - accuracy: 0.8118
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3926 - accuracy: 0.8117
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8113
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3916 - accuracy: 0.8124
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3919 - accuracy: 0.8125
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3918 - accuracy: 0.8123
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8117

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5371 - accuracy: 0.7888 - 485ms/epoch - 2ms/step
Loss: 0.5371419787406921, Accuracy: 0.7888046503067017

In [26]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')